@import "var.css";

* {
  border-radius: 0px;
  font-family:
    RecMonoCasual Nerd Font,
    Liga SFMono Nerd Font,
    FiraCode Nerd Font,
    MiSans VF;
  font-size: 14px;
  font-style: normal;
  min-height: 0;
}

#custom-Arch-Logo {
  margin: 5px 3px 5px 5px; /* 调整上下边距为5px */
  color: @background;
  font-size: 18px;
  border: 1px solid @main-color;
  background: @main-color;
  border-radius: 14px;
  padding: 4px 4px 4px 0px;
}

#custom-tray-collapsed,
#custom-Backup {
  font-size: 18px;
  margin: 5px 0px; /* 调整上下边距为5px */
  border: 1px solid @secborder;
  background: @seccolor;
  border-radius: 14px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
  padding-right: 14px;
}

#custom-pacman {
  padding-right: 20px;
  font-size: 14px;
}

#custom-tray-collapsed {
  padding-left: 13px;
  padding-right: 14px;
}

#custom-sd {
  margin: 5px; /* 调整上下边距为5px */
  border-radius: 14px;
  font-size: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
  padding-right: 4px;
}

window#waybar {
  background: @background;
  color: @font;
  /* border: 1px solid @main-color; */
  /* border-radius: 13px; */
}

#window {
  padding-left: 14px;
  padding-right: 14px;
  margin: 5px 0px; /* 调整上下边距为5px */
  font-weight: normal;
  color: @font;
  background: @seccolor;
  font-style: normal;
  border-radius: 14px;
  border: 1px solid @secborder;
}

#workspaces {
  margin: 5px 4px 5px 2px; /* 调整上下边距为5px */
  background: @seccolor;
  padding: 0px 7px 0px 7px;
  border-radius: 14px;
  border: 1px solid @secborder;
  font-weight: normal;
  font-style: normal;
}

#taskbar.empty {
  margin: 5px 0px; /* 调整上下边距为5px */
  padding: 0px;
  background: rgba(0, 0, 0, 0);
}

#taskbar {
  margin: 5px 0px 5px 4px; /* 调整上下边距为5px */
  padding: 0px;
  font-weight: normal;
  font-style: normal;
}

#taskbar button {
}

#taskbar button:hover {
  color: black;
}

#taskbar button.active {
  border-bottom: 1px solid @main-color;
}

#workspaces button {
  padding: 0px 7px;
  border-radius: 14px;
  color: #6c7086;
  font-weight: bold;
}

#workspaces button.active {
  color: @main-color;
  background-color: transparent;
}

#custom-date,
#clock,
#network,
#custom-randwall,
#custom-launcher {
  background: transparent;
  padding: 4px;
  margin: 5px; /* 调整上下边距为5px */
  border-radius: 14px;
}

#clock {
  font-weight: bold;
  border: 1px solid @secborder;
  background-color: @seccolor;
  padding-right: 4px;
  border-radius: 14px;
  margin: 5px 5px 5px 0px; /* 调整上下边距为5px */
  padding-left: 4px;
}

#battery {
  font-weight: bold;
  border: 1px solid @secborder;
  background-color: @seccolor;
  border-left: 0px;
  padding-right: 13px;
  border-radius: 0px 14px 14px 0px;
  margin: 5px 4px 5px 0px; /* 调整上下边距为5px */
  padding-left: 14px;
}

#pulseaudio {
  font-weight: bold;
  border: 1px solid @secborder;
  background-color: @seccolor;
  padding-left: 14px;
  margin: 5px; /* 调整上下边距为5px */
  padding-right: 13px;
  border-radius: 14px;
}

#custom-power {
  color: #24284b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin: 5px 14px 5px 0px; /* 调整上下边距为5px */
  padding: 4px 14px;
}

#tray {
  background-color: @seccolor;
  padding: 0px 14px 0px 14px;
  border-radius: 14px;
  border: 1px solid @secborder;
  margin: 5px 5px 5px 0px; /* 调整上下边距为5px */
}

#backlight {
  font-weight: bold;
  border: 1px solid @secborder;
  border-right: 0px;
  background-color: @seccolor;
  color: @font;
  border-radius: 14px 0px 0px 14px;
  margin: 5px 0px; /* 调整上下边距为5px */
  padding-left: 13px;
  padding-right: 4px;
}

#network {
  color: @font;
  border-radius: 14px;
  margin: 5px 4px 5px 0px; /* 调整上下边距为5px */
}

#custom-randwall {
  color: @font;
  border-radius: 14px;
  margin: 5px; /* 调整上下边距为5px */
}

#custom-launcher {
  color: #e4809e;
  background-color: #1e1e2e;
  border-radius: 0px 20px 0px 0px;
  margin: 5px; /* 调整上下边距为5px */
  padding: 0 20px 0 14px;
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #fb4944;
  color: transparent;
  border-radius: 14px;
  margin-right: -4px;
  margin-left: 14px;
}

#custom-playerctl {
  background: #1e1e2e;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 14px;
  margin: 5px 0px; /* 调整上下边距为5px */
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}

#custom-playerlabel {
  background: transparent;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 14px;
  margin: 5px 0px; /* 调整上下边距为5px */
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #e4809e;
  background-color: #1e1e2e;
  border-radius: 14px;
  margin: 5px; /* 调整上下边距为5px */
}

#keyboard-state {
  background-color: #1e1e2e;
  border-radius: 14px;
  margin: 5px; /* 调整上下边距为5px */
  padding: 0px 14px 0px 14px;
  font-weight: bold;
}

#cpu {
  border-top: 1px solid @secborder;
  border-bottom: 1px solid @secborder;
  border-left: 1px solid @secborder;
  background-color: @seccolor;
  border-radius: 14px 0px 0px 14px;
  margin: 5px 0px 5px 4px; /* 调整上下边距为5px */
  padding: 0px 14px 0px 14px;
  font-weight: bold;
}

#memory {
  border-top: 1px solid @secborder;
  border-bottom: 1px solid @secborder;
  background-color: @seccolor;
  border-radius: 0px;
  margin: 5px 0px; /* 调整上下边距为5px */
  padding: 0px 14px 0px 14px;
  font-weight: bold;
}

#disk {
  border-top: 1px solid @secborder;
  border-bottom: 1px solid @secborder;
  border-right: 1px solid @secborder;
  background-color: @seccolor;
  border-radius: 0px 14px 14px 0px;
  margin: 5px 0px; /* 调整上下边距为5px */
  padding: 0px 14px 0px 14px;
  font-weight: bold;
}

#custom-hyprpicker {
  background-color: #1e1e2e;
  border-radius: 14px;
  margin: 5px; /* 调整上下边距为5px */
  padding: 0px 11px 0px 9px;
  font-weight: bold;
}
